
@{
    ViewData["Title"] = "_ViewModalUser";
    Layout = null;
}

<div class="modal" tabindex="-1" role="dialog" id="txtFormRegister">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="txtName">Email address</label>
                        <input type="text" class="form-control" id="txtName" placeholder="Enter Name">

                    </div>
                    <div class="form-group">
                        <label for="txtPhone">Email address</label>
                        <input type="text" class="form-control" id="txtPhone" placeholder="Enter Name">

                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Email address</label>
                        <input type="text" class="form-control" id="txtEmail" placeholder="Enter Name">

                    </div>
                    <div class="form-group">
                        <label for="txtPassWord">Email address</label>
                        <input type="text" class="form-control" id="txtPassWord" placeholder="Enter Name">

                    </div>
                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Đăng kí</button>
               
            </div>
        </div>
    </div>
</div>

