@model WebTestShopOnline.Page.PagedResult<WebTestShopOnline.Entity.Product>
@{
    ViewData["Title"] = "GetAllProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{ 
    <script src="~/JsWeb/productcontrollers.js" asp-append-version="true"></script>
}
<body>
    <!-- Header End====================================================================== -->
    <div id="mainBody">
        <div class="container">
            <div class="row">
                <!-- Sidebar ================================================== -->
                @await Component.InvokeAsync("Category", 1)
                <!-- Sidebar end=============================================== -->
                <div class="span9">
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                        <li class="active">Special offers</li>
                    </ul>
                    <h4> 20% Discount Special offer<small class="pull-right"> 40 products are available </small></h4>
                    <hr class="soft" />
                    <form class="form-horizontal span6">
                        <div class="control-group">
                            <label class="control-label alignL">Sort By </label>
                            <form asp-action="GetAllProduct" asp-controller="Product" method="post">
                                <select name="categoryId" asp-items="@ViewBag.ListProductCategory" onchange="this.form.submit()">
                                    <option>...@Model.NameCategory...</option>
                                </select>
                            </form>
                        </div>
                    </form>
                    <div id="myTab" class="pull-right">
                        <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
                        <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
                    </div>
                    <br class="clr" />
                    <div class="tab-content">
                        <div class="tab-pane" id="listView">
                            <div class="row">
                                <div class="span2">
                                    <img src="/themes/images/products/b1.jpg" alt="" />
                                </div>
                                <div class="span4">
                                    <h3>New | Available</h3>
                                    <hr class="soft" />
                                    <h5>Product Name </h5>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s ...
                                    </p>
                                    <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                                    <br class="clr" />
                                </div>
                                <div class="span3 alignR">
                                    <form class="form-horizontal qtyFrm">
                                        <h3> $110.00</h3>
                                        <label class="checkbox">
                                            <input type="checkbox">  Adds product to compair
                                        </label><br />
                                        <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                                        <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                                    </form>
                                </div>
                            </div>
                            <hr class="soft" />
                            <div class="row">
                                <div class="span2">
                                    <img src="/themes/images/products/b2.jpg" alt="" />
                                </div>
                                <div class="span4">
                                    <h3>New | Available</h3>
                                    <hr class="soft" />
                                    <h5>Product Name </h5>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s ...
                                    </p>
                                    <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                                    <br class="clr" />
                                </div>
                                <div class="span3 alignR">
                                    <form class="form-horizontal qtyFrm">
                                        <h3> $110.00</h3>
                                        <label class="checkbox">
                                            <input type="checkbox">  Adds product to compair
                                        </label><br />
                                        <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                                        <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                                    </form>
                                </div>
                            </div>
                            <hr class="soft" />
                            <div class="row">
                                <div class="span2">
                                    <img src="/themes/images/products/b3.jpg" alt="" />
                                </div>
                                <div class="span4">
                                    <h3>New | Available</h3>
                                    <hr class="soft" />
                                    <h5>Product Name </h5>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s ...
                                    </p>
                                    <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                                    <br class="clr" />
                                </div>
                                <div class="span3 alignR">
                                    <form class="form-horizontal qtyFrm">
                                        <h3> $110.00</h3>
                                        <label class="checkbox">
                                            <input type="checkbox">  Adds product to compair
                                        </label><br />
                                        <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                                        <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                                    </form>
                                </div>
                            </div>
                            <hr class="soft" />
                            <div class="row">
                                <div class="span2">
                                    <img src="/themes/images/products/b4.jpg" alt="" />
                                </div>
                                <div class="span4">
                                    <h3>New | Available</h3>
                                    <hr class="soft" />
                                    <h5>Product Name </h5>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s ...
                                    </p>
                                    <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                                    <br class="clr" />
                                </div>
                                <div class="span3 alignR">
                                    <form class="form-horizontal qtyFrm">
                                        <h3> $110.00</h3>
                                        <label class="checkbox">
                                            <input type="checkbox">  Adds product to compair
                                        </label><br />
                                        <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                                        <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                                    </form>
                                </div>
                            </div>

                            <hr class="soft" />
                            <div class="row">
                                <div class="span2">
                                    <img src="/themes/images/products/6.jpg" alt="" />
                                </div>
                                <div class="span4">
                                    <h3>New | Available</h3>
                                    <hr class="soft" />
                                    <h5>Product Name </h5>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s ...
                                    </p>
                                    <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                                    <br class="clr" />
                                </div>
                                <div class="span3 alignR">
                                    <form class="form-horizontal qtyFrm">
                                        <h3> $222.00</h3>
                                        <label class="checkbox">
                                            <input type="checkbox">  Adds product to compair
                                        </label><br />
                                        <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                                        <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                                    </form>
                                </div>
                            </div>
                            <hr class="soft" />
                            <div class="row">
                                <div class="span2">
                                    <img src="/themes/images/products/7.jpg" alt="" />
                                </div>
                                <div class="span4">
                                    <h3>New | Available</h3>
                                    <hr class="soft" />
                                    <h5>Product Name </h5>
                                    <p>

                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s ...
                                    </p>
                                    <a class="btn btn-small pull-right" href="product_details.html">View Details</a>
                                    <br class="clr" />
                                </div>
                                <div class="span3 alignR">
                                    <form class="form-horizontal qtyFrm">
                                        <h3> $222.00</h3>
                                        <label class="checkbox">
                                            <input type="checkbox">  Adds product to compair
                                        </label><br />
                                        <a href="product_details.html" class="btn btn-large btn-primary"> Add to <i class=" icon-shopping-cart"></i></a>
                                        <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                                    </form>
                                </div>
                            </div>
                            <hr class="soft" />
                        </div>

                        <div class="tab-pane  active" id="blockView">
                            <ul class="thumbnails">
                                @foreach (var product in Model.Items)
                                {
                                    <li class="span3">
                                        <div class="thumbnail">
                                            <a href="/Cart/AddCart/@product.Id&&1&&Black"><img src="/user-content/@product.PathImage" alt="" /></a>
                                            <div class="caption">
                                                <h5>@product.Name &amp; @product.LastPrice</h5>
                                                <p>
                                                    Lorem Ipsum is simply dummy text.
                                                </p>
                                                <h4 style="text-align:center"><a class="btn" href="/Product/ProductDetail/@product.Id"> <i class="icon-zoom-in"></i></a> <a class="btn" href="/Cart/AddCart/@product.Id&&1&&Black">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;@product.LastPrice</a></h4>
                                            </div>
                                        </div>
                                    </li>
                                }

                            </ul>
                            @await Component.InvokeAsync("Pager", Model)


                            <hr class="soft" />
                        </div>
                    </div>
                    <a href="compair.html" class="btn btn-large pull-right">Compair Product</a>

                    <br class="clr" />
                </div>
            </div>
        </div>
    </div>
 
</body>



