
@{
    Layout = null;
}
<div class="modal" tabindex="-1" role="dialog" id="txtFormCreatOrder">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="txtOrderName">Name</label>
                        <input type="text" class="form-control" id="txtOrderName" aria-describedby="emailHelp" placeholder="Enter YourName">

                    </div>
                    <div class="form-group">
                        <label for="txtOrderEmail">Email</label>
                        <input type="text" class="form-control" id="txtOrderEmail" aria-describedby="emailHelp" placeholder="Enter YourEmail">

                    </div>
                    <div class="form-group">
                        <label for="txtOrderAdress">Email</label>
                        <input type="text" class="form-control" id="txtOrderAdress" aria-describedby="emailHelp" placeholder="Enter YourAdress">

                    </div>
                    <div class="form-group">
                        <label for="txtOrderPhone">Email</label>
                        <input type="text" class="form-control" id="txtOrderPhone" aria-describedby="emailHelp" placeholder="Enter YourEmail">

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" id="txtXnCreatOrderToBuy" class="btn btn-primary">Mua hàng</button>

            </div>
        </div>
    </div>
</div>